<template>
    <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="panel panel-left panel-reveal">

      <div class="workspaces">

        <a href="/" class="panel-close">
          <div class="workspace-logo">
            <i class="icon f7-icons">house</i>
          </div>
        </a>
                
        <a href="/course/create" class="panel-close">
          <div class="workspace-logo">
            <i class="icon f7-icons">plus</i>
          </div>
        </a>
        <a href="/course/index" class="panel-close">
          <div class="workspace-logo">
            <i class="icon f7-icons">minus</i>
          </div>
        </a>

        <div class="settings">
          <a href="/connect" class="link panel-close"><i class="icon f7-icons">globe<span class="badge color-yellow text-color-black">{{connectedPeers}}</span></i></a>
        </div>


      </div>
      
      <div class="view channels-view view-init" data-name="channels">
      </div>

    </div>


    <div class="view view-main">

    </div>



    </div>
</template>


<script>
    // first we import super class
    import { SpaceComponent } from 'space-mvc';
  
    // we need to export extended class
    export default class extends SpaceComponent {
  
      // hooks
      beforeCreate() {
      }
      mounted() {
      }
  
      beforeDestroy() {
      }
  
  
    }
  </script>