
:root {

  --f7-theme-color: #FFB612;
  --f7-theme-color-rgb: 255, 182, 18;
  --f7-theme-color-shade: #e8a100;
  --f7-theme-color-tint: #ffc33b;

  --f7-panel-width: 290px;

  --f7-navbar-title-font-weight: 700;
  --f7-navbar-title-font-size: 16px;
  --f7-navbar-height: 62px;

  --f7-color-red: #C60C30;
  --f7-color-red-rgb: 198, 12, 48;
  --f7-color-red-shade: #a00a27;
  --f7-color-red-tint: #ec0e39;

}

.color-red {
  --f7-theme-color: #C60C30;
  --f7-theme-color-rgb: 198, 12, 48;
  --f7-theme-color-shade: #a00a27;
  --f7-theme-color-tint: #ec0e39;
}

.color-yellow {
  --f7-theme-color: #FFB612;
  --f7-theme-color-rgb: 255, 182, 18;
  --f7-theme-color-shade: #e8a100;
  --f7-theme-color-tint: #ffc33b;
}

.color-black {
  --f7-theme-color: #101820;
  --f7-theme-color-rgb: 16, 24, 32;
  --f7-theme-color-shade: #020405;
  --f7-theme-color-tint: #1e2c3b;
}

.color-blue {
  --f7-theme-color: #003087;
  --f7-theme-color-rgb: 0, 48, 135;
  --f7-theme-color-shade: #00215e;
  --f7-theme-color-tint: #003fb0;
}

.workspaces {
  width: 68px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #101820;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
}

.workspaces a {
  width: 36px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
}

.workspace-logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  color: #A5ACAF;
}


/* .workspaces a:hover .workspace-logo:before {
  border: 2px solid var(--f7-theme-color);
} */

.workspaces a:hover .workspace-logo {
  background: var(--f7-theme-color);
  color: #000000;
}

.workspace-logo img {
  max-width: 100%;
  max-height: 100%;
}

.workspace-shortcut {
  color: #ffffff;
}

.workspaces + .view {
  left: 68px;
  width: calc(100% - 68px);
}


.workspaces .settings {
  position: absolute; 
  bottom: 0px; 
}

.workspaces .settings a {
  color: #A5ACAF;
}


.channels-page {
  --f7-page-bg-color: #f2f3f5;
  --f7-bars-text-color: #060607; 

  --f7-list-bg-color: transparent;
  --f7-list-border-color: transparent;
  --f7-list-item-border-color: transparent;
  --f7-list-item-min-height: 15px;
  --f7-list-item-padding-vertical: 3px;
  --f7-list-item-media-margin: 6px;

  --f7-block-title-font-size: 15px;
  --f7-block-title-text-color:  #060607;
  --f7-block-title-font-weight-color: 500;
  --f7-block-title-margin-bottom: 8px;
  --f7-block-margin-vertical: 16px;

  --f7-list-item-title-text-color: #606068;
  --f7-list-item-title-font-size: 15px;
  --f7-list-link-pressed-bg-color: rgba(0,0,0,0.2);
  --f7-list-link-hover-bg-color: rgba(0,0,0,0.1);
}



.channels-page .navbar .title {
  white-space: initial;
}

.channels-page .block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.channels-page .block-title .link {
  color: inherit;
}
.channels-page .block-title .link:hover {
  color: var(--hover-highlight-color);
}
.channels-page .list .item-media  {
  width: 12px; 
  min-width: 12px;
  font-size: 21px;
  font-weight: bold;
  color: #747f8d;
}



.channels-page .list li:hover {
  background-color: #e8eaed;
}

.channels-page .list .icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: rgba(255,255,255,0.7);
}
.channels-page .list .icon-add {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color:inherit;
  
}

.chat-page {
  --f7-page-bg-color: #fff;
  --f7-navbar-height: 62px;
  --f7-navbar-bg-color: #fff;
  --f7-navbar-text-color: #616061;
  --f7-navbar-link-color: #616061;
  --f7-navbar-title-font-weight: bold;
  --f7-navbar-border-color: transparent;
  --f7-searchbar-input-height: 34px;
  --f7-searchbar-input-border-color: #868686;
  --f7-searchbar-input-border-width: 1px;
  --f7-searchbar-input-font-size: 16px;
  --f7-searchbar-input-border-radius: 6px;
  --f7-messagebar-height: 68px;
  --f7-messagebar-textarea-height: 44px;
  --f7-messagebar-textarea-border: 2px solid #616061;
  --f7-messagebar-textarea-border-radius: 6px;
  --f7-messagebar-textarea-font-size: 16px;
  --f7-messagebar-textarea-padding: 12px;

  --f7-message-avatar-size: 38px;
  --f7-message-avatar-border-radius: 6px;
  --f7-message-name-text-color: #000;
  --f7-message-name-font-size: 15px;
  --f7-message-name-font-weight: bold;
  --f7-message-received-bg-color: transparent;
  --f7-message-sent-bg-color: transparent;
  --f7-message-bubble-font-size: 15px;
  --f7-message-bubble-line-height: 1.5;
  --f7-message-received-text-color: #000;
  --f7-message-sent-text-color: #000;

  --f7-messages-title-font-size: 14px;
  --f7-messages-title-font-weight: bold;
  --f7-messages-title-text-color: #000;
}

.chat-page .navbar .title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000;
  min-width: 200px;
}
.chat-page .navbar .link {
  height: auto;
  line-height: 1;
}
.chat-page .navbar .subtitle {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.chat-page .navbar .subtitle .divider {
  margin-left: 3px;
  margin-right: 3px;
}
.chat-page .navbar .searchbar {
  margin: 0 10px;
}
.chat-page .navbar .right .f7-icons {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.chat-page .message-avatar {
  align-self: flex-start;
}
.chat-page .message-name span {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
}
.chat-page .message-avatar {
  align-self: flex-start;
}
.chat-page .messages-title {
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;

}
.chat-page .messages-title:before {
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  content: '';
  background: var(--f7-bars-border-color);
  position: absolute;
  z-index: -1;
}
.chat-page .messages-title span {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}





















::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
}

.center {
  margin: 0 auto;
}


.navbar a.link.small-only {
  display: none;
}


@media only screen and (max-width: 1024px) {
  .navbar a.link.small-only  {
    display: flex;
  }
}


.mnemonic {
  font-size: 13px;
  padding: 3px;
  margin-bottom: 3px;
}

.mnemonic .number {
  width: 20px;
  display: inline-block;
}

.mnemonic .word {
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
}



